@media screen and (min-width:650px) and (max-width:991px)  {
    .burger-menu {
        display: inline !important;
    }
    #home {
        flex-wrap: wrap-reverse;        
    }
    #home div:nth-child(1){
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    #about {
        display: flex;
        flex-direction: column;
    }
    #products div:nth-child(1) {
        width: 800px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}