nav ul {
    display: flex;
    gap: 30px;
    text-decoration: none;
    list-style-type: none;
}
nav {
    font-size: 24px;
}
.container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burger-menu {
    display: none;
}

.mob-list {
    font-size: 24px;
    padding-left: 12px;
    width: 100%;
    background-color: rgba(231, 231, 231, 0.555);
    height: 0px;
    display: none;
    transition: height .2s, opacity .2s;
}

.appearance {
    height: 180px;
    opacity: 1;
}
.left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.main {
    margin-top: 100px;
}
.text {
    display: flex;
    flex-direction: column;
    text-align: center;
}